{% extends "base.html" %}

{% block title %}Home - Avalanche Segmentation{% endblock %}

{% block side_menu %}
<!-- Side menu content for the home page -->
<p>Welcome to the Avalanche Segmentation tool!</p>
<p>You can use this tool to segment images of avalanches using the SAM model.</p>
<p>If you need to upload an image, please use the Upload feature in the navigation menu.</p>
<p>If you need to see the Uploaded Files go to the page by the same name in the navigation menu.</p>
{% endblock %}

{% block content %}
<!-- Main content for the home page -->
<h1>Home Page</h1>
<p>This is the home page of the Avalanche Segmentation tool.</p>
<p>This tool was developed to help with the segmentation of avalanche images using the SAM model by Riccardo Gelato with the assistance of Filippo Maria Bianchi and the testing of Jakob Grahn.</p>
{% endblock %}